.create= link_to t('.create_new_person'), new_person_path

= will_paginate @people
.list
- for person in @people
  .teaser
    .name
      = person.name
      .top
        = link_to t('show'), person
        = link_to t('edit'), edit_person_path(person)
        = link_to t('destroy'), person, :confirm => 'Are you sure?', :method => :delete
    .content
      .left
        %img{:src => person.thumbnail, :alt => person.firstname + " " + person.lastname}
      .right
        %span= "Eingetragene Verwandte: #{persons_relations_count(person)}"
        %span= "Vorname: #{person.firstname}"
        %span= "Nachname: #{person.lastname}"
        %span= "Geschlecht: #{person.sex}"
        %span= "Geburtsdatum: #{person.birthdate}"
        %span= "Geburtsort/Heimat: #{person.residences.find_by_status("birthplace").location.name if person.residences.find_by_status("birthplace")}"
= will_paginate @people