%div.create= link_to t('.create_new_person'), new_person_path

= will_paginate @people
%div.list
- for person in @people
  %div.teaser
    %div.name
      = person.lastname + ", " + person.firstname
      %div.bottom
        = link_to t('show'), person
        = link_to t('edit'), edit_person_path(person)
        = link_to t('destroy'), person, :confirm => 'Are you sure?', :method => :delete
    %div.content
      %div.left
        %img{:src => person.thumbnail, :alt => person.firstname + " " + person.lastname}
      %div.right
        %span= "Vorname: #{person.firstname}"
        %span= "Nachname: #{person.lastname}"
        %span= "Geschlecht: #{person.sex}"
        %span= "Geburtsdatum: #{person.birthdate}"
        %span= "Beziehung: "
        %span= "Geburtsort/Heimat: #{person.residences.find_by_status("birthplace").location.name if person.residences.find_by_status("birthplace")}"
= will_paginate @people