#info
  #flash_message= display_person_count
  -if flash.any?
    -flash.each do |k,v|
      #flash_message{:class => k}
        = v
  .search
    = form_tag request.path, :method => 'get' do 
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

.create= link_to t('.create_new_person'), new_person_path

= will_paginate @people
.list
- for person in @people
  .teaser
    .name
      = person.name
      .top
        = link_to t('show'), person
        = link_to t('edit'), edit_person_path(person)
        = link_to t('destroy'), person, :confirm => 'Are you sure?', :method => :delete
    .content
      .left
        %img{:src => person.thumbnail, :alt => person.firstname + " " + person.lastname}
      .right
        %span= "Eingetragene Verwandte: #{persons_relations_count(person)}"
        %span= "Vorname: #{person.firstname}"
        %span= "Nachname: #{person.lastname}"
        %span= "Geschlecht: #{person.sex}"
        %span= "Geburtsdatum: #{person.birthdate}"
        %span= "Geburtsort/Heimat: #{person.residences.find_by_status("birthplace").location.name if person.residences.find_by_status("birthplace")}"
= will_paginate @people