%div.create
  = link_to t('<< back'), people_path
  = link_to t('edit'), edit_person_path(@person)
  
%div.show
  %div.img
    %img{:src => @person.thumbnail, :alt => @person.firstname + " " + @person.lastname}
  %div
    %div.block
      %div.dt= Person.human_attribute_name :url
      %div.dd= @person.url
    %div.block
      %div.dt= Person.human_attribute_name :firstname
      %div.dd= @person.firstname
    %div.block
      %div.dt= Person.human_attribute_name :lastname
      %div.dd= @person.lastname
    %div.block
      %div.dt= Person.human_attribute_name :birthname
      %div.dd= @person.birthname
    - @person.relatives.each do |relative|
      %div.block
        %div.dt= relative.status
        %div.dd= relative_name(@person, relative)
    %div.block
      %div.dt= Person.human_attribute_name :sex
      %div.dd= @person.sex
    %div.block
      %div.dt= Person.human_attribute_name :birthdate
      %div.dd= @person.birthdate
    %div.block
      %div.dt= Person.human_attribute_name :deathdate
      %div.dd= @person.deathdate
    %div.block
      %div.dt= Person.human_attribute_name :birthplace
      %div.dd= @person.birthplace
    %div.block
      %div.dt= Person.human_attribute_name :birthplaceurl
      %div.dd= @person.birthplaceurl
    %div.block
      %div.dt= Person.human_attribute_name :thumbnail
      %div.dd= @person.thumbnail