.create
  = link_to t('<< back'), people_path
  = link_to t('edit'), edit_person_path(@person)
  
.show
  .img
    %img{:src => @person.thumbnail, :alt => @person.firstname + " " + @person.lastname}
  %div
    .block
      .dt= Person.human_attribute_name :url
      .dd= @person.url
    .block
      .dt= Person.human_attribute_name :firstname
      .dd= @person.firstname
    .block
      .dt= Person.human_attribute_name :lastname
      .dd= @person.lastname
    .block
      .dt= Person.human_attribute_name :birthname
      .dd= @person.birthname
 
    .block
      .dt= Person.human_attribute_name :sex
      .dd= @person.sex
    .block
      .dt= Person.human_attribute_name :birthdate
      .dd= @person.birthdate
    .block
      .dt= Person.human_attribute_name :deathdate
      .dd= @person.deathdate
    .block
      .dt=Person.human_attribute_name :birthplace
      .dd=@person.residences.find_by_status("birthplace").location.name if @person.residences.find_by_status("birthplace")
    .block
      .dt= Person.human_attribute_name :thumbnail
      .dd= @person.thumbnail
  .relations
    .head
      %h1 Eingetragene Verwandte:
    - @person.relatives.each do |relative|
      .block
        .dt= relative.status
        .dd= link_to(relative.relative_person(@person).name, person_path(relative.relative_person(@person)))