!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    #wrapper
      #header
        = image_tag "logo.png", :alt => "Home"
        #navigation
          = render_navigation
      -if flash.any?
        -flash.each do |k,v|
          #flash_message{:class => k}
            = v
      #container
        = yield
      #footer
        &copy; 2012 Dorothea Buck, David Bellingroth