!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    #wrapper
      #header
        = image_tag "logo.png"
        %ul#navigation
          %li=link_to "Alle Personen", people_path
          %li=link_to "Importer", importer_home_index_path
          %li=link_to "Personen löschen", ""
      -if flash.any?
        -flash.each do |k,v|
          #flash_message{:class => k}
            = v
      #container
        = yield
      #footer
        %p
          Copyright 2012 Dorothea Buck, David Bellingroth